$click_color = #2D8CF0
$line_color = rgb(228, 231, 237)
$transparent = transparent
// 品牌色
$brandColor1 = rgb(64, 158, 255)

// 场景色
$primaryColor = #409EFF
$successColor = #67C23A
$dangerColor = #F56C6C
$warnColor = #E6A23C
$infoColor = #909399

// 文字色
$primaryText = #303133
$regularText = #555555
$secondaryText = #909399
$placeholderText = #C0C4CC

// 背景色
$backgroundBlack = #C0C4CC
$backgroundWhite = #FFFFFF
$backgroundTransparent = transparent

// 工具按钮状态
